.item-label {
    /* position: absolute; */
    width: 328px;
    height: 65px;
    left: 24px;
    top: 232px;

    margin-top: 19px;
    margin-left: 23px;

    background: #FFFFFF;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.item-label-exp {
    width: 328px;
    height: 221px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    margin-top: 19px;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle-info {
    display: flex;
    flex-direction: row;
    margin-bottom: -8px;
}

.item-description {
    margin-left: 13px;
    width: 168px;

}

.ing {
    margin-right: 21px;
}

.item-titles {
    width: 185px;
    height: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 23px;
    color: #000000;
    margin-left: 20px;
}

.img {
    width: 102px;
    height: 102px;
    background: blue;
    margin-left: 24px;
}

.title-exp {
    width: 185px;
    height: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 23px;
    margin-left: 20px;
    margin-top: 20px;
    color: #D9615E;
}

.view-btn {
    width: 166px;
    height: 35px;
    margin-left: 24px;
    margin-bottom: 9px;
    background: #D9615E;
    border-radius: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color: #FFFFFF;
}

.label-description {
    display: flex;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color: #000000;
    margin-left: 30px;
}

.burger-img {
    margin-left: 19px;
    margin-right: 5px;
    background: url("/burger2.png");
    background-repeat: no-repeat;
    background-size: 102px 102px;
}

/* last page */
.item-info {
    position: absolute;
    width: 375px;
    height: 181px;
    left: 0px;
    top: 0px;

    background: #D9615E;
}