.category-label {
    /* position: absolute; */
    width: 328px;
    height: 65px;
    left: 24px;
    top: 232px;

    margin-top: 19px;
    margin-left: 23px;

    background: #FFFFFF;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
}

.label-description {
    display: flex;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
}

.img-burger {
    width: 35px;
    height: 38px;
    margin-left: 19px;
    margin-top: 15px;
}

.cat-title {
    width: 185px;
    height: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 23px;
    color: #000000;
}

.arrow {
    width: 31px;
    height: 40px;
    margin-right: 26px;
    margin-top: 9px;
}

.arrow-start {
    width: 43px;
    height: 39px;
    margin-right: 26px;
    margin-top: 14px;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear .fade-appear-active {
    opacity: 1;
    transition: opacity 10000ms linear;
}