.category-label {
    /* position: absolute; */
    width: 328px;
    height: 65px;
    left: 24px;
    top: 232px;

    margin-top: 19px;
    margin-left: 23px;

    background: #FFFFFF;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
}

.label-description {
    display: flex;

    /* position: absolute;
    width: 108px;
    height: 23px;
    left: 101px;
    top: 256px; */
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
}