.background {
    position: absolute;
    width: 375px;
    height: 250px;
    left: 0px;
    top: 0px;
    background: green;
    /* background: url(restaur.png); */
}

.title {
    position: absolute;
    width: 145px;
    height: 39px;
    left: 40px;
    top: 148px;
    z-index: 9999;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-right: 190px;
    color: #FFFFFF;

    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.38);
}

.menu-categories {
    position: absolute;
    width: 375px;
    height: 468px;
    left: 0px;
    top: 199px;
    border-radius: 8% 8% 0% 0%;
    background: #D9615E;
    z-index: 2;
}

.menu-items {
    position: absolute;
    width: 375px;
    height: 468px;
    left: 0px;
    top: 199px;
    border-radius: 8% 8% 0% 0%;
    background: #FFFFFF;
    z-index: 2;
}

img {
    margin-right: 28px;
}

/* last page */
.item-info {
    border-radius: 0% 0% 8% 8%;
}

.text {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.item-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 69px;
    margin-left: 37px;

}

.price-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 69px;
    margin-right: 68px;
}

.img3d {
    width: 312px;
    height: 208px;
    margin-top: 60px;
    background: red;
    margin-left: 32px;
    margin-bottom: 60px;


}

.view-btn-end {
    width: 166px;
    height: 35px;
    background: #D9615E;
    border-radius: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color: #FFFFFF;
    margin-top: 149px;
    margin-left: 72px;
}

.item-description {
    width: 375px;
}

.ingr {
    width: 300px;
    height: 53px;
    left: 52px;
    top: 107px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    margin-left: 37px;
    margin-top: 6px;
}

.calories {
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
}

li {
    list-style: none;
}