.background {
    position: absolute;
    width: 375px;
    height: 250px;
    left: 0px;
    top: 0px;
    background: url("./Rectangle\ 30.png");
    /* background: url(restaur.png); */
}

.category {
    background: url("./category-rec.png");
    background-repeat: no-repeat;
    background-size: 380px;
}

.title {
    position: absolute;
    width: 145px;
    height: 39px;
    left: 40px;
    top: 148px;
    z-index: 9999;
}

h2 {
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.38);
    margin-top: 3px;
    margin-left: 6px;
}

.menu-categories {
    position: absolute;
    width: 375px;
    height: 530px;
    left: 0px;
    top: 199px;
    border-radius: 8% 8% 0% 0%;
    background: #D9615E;
    z-index: 2;
}

.menu-items {
    position: absolute;
    width: 375px;
    height: 468px;
    left: 0px;
    top: 199px;
    border-radius: 8% 8% 0% 0%;
    background: #FFFFFF;
    z-index: 2;
}

img {
    margin-right: 28px;
}

/* last page */
.item-info {
    border-radius: 0% 0% 8% 8%;
}

.text {
    display: flex;
    /* align-items: stretch; */
    justify-content: space-between;
    width: 371px;
}

.item-title {
    font-family: Verdana;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 69px;
    margin-left: 37px;

}

.price-title {
    font-family: Verdana;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 69px;
    margin-right: 68px;
}

.img3d {
    width: 312px;
    height: 208px;
    margin-top: 38px;
    background-image: url("./classicburger.png");
    margin-left: 32px;
    margin-bottom: 60px;

}

.view-btn-end {
    width: 166px;
    height: 35px;
    background: #D9615E;
    border-radius: 7px;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color: #FFFFFF;
    margin-left: 72px;
    margin-top: 208px;
}

.item-description {
    width: 375px;
}

/* Group */
.vector {
    position: absolute;
    background-image: url("./vector.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 24.5px;
    left: 24px;
    top: 20px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.33));
}

.ingr {
    width: 300px;
    height: 53px;
    left: 52px;
    top: 107px;

    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    margin-left: 37px;
    margin-top: 6px;
}

.calories {
    margin-top: 30px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

li {
    list-style: none;
    margin: 7px;
}

/* css transition */

.fade-appear {
    opacity: 0;
    z-index: 1
}

.fade-appear.appear-active {
    opacity: 1;
    transition: opacity 600ms linear;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 600ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 600ms linear
}